


.nav {
  background-color: #333;
  padding: 20px 0;
  gap: 8em;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap:4em;

}

.nav ul li {
  display:inline-flex;
  margin-right: 10px;
  gap:4em;

}

.nav ul li a {
  color: #fff;
  text-decoration: none;
  gap:4em;

}
.nav ul li a:hover{
  background-color:orange;
  padding: 2em;
}
.signuperror{
  color:red;
}
.sign{
  color:red
}

.fill_in{
  display: flex;
  justify-content:space-around;
}




.forms label {
  font-weight: bold;
}
.forms_2 label{
  font-weight: bold;
}

.forms input[type="text"],
.forms input[type="password"],
.forms input[type="file"] {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  box-sizing: border-box;
}

.forms_2 input[type="text"],
.forms_2 input[type="password"],
.forms_2 input[type="file"] {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  box-sizing: border-box;
}
.forms_2 button{
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}



.forms button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.forms button:hover {
  opacity: 0.8;
}


.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

.footer img {
  margin: 0 5px;
}
