


.nav {
  background-color: #333;

}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #111;
}
.fill_in{
  display: flex;
  justify-content:space-around;
}




.forms label {
  font-weight: bold;
}
.forms_2 label{
  font-weight: bold;
}

.forms input[type="text"],
.forms input[type="password"],
.forms input[type="file"] {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  box-sizing: border-box;
}

.forms_2 input[type="text"],
.forms_2 input[type="password"],
.forms_2 input[type="file"] {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  box-sizing: border-box;
}
.forms_2 button{
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}



.forms button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.forms button:hover {
  opacity: 0.8;
}


.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

.footer img {
  margin: 0 5px;
}
